.navigation {
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-flex;
    align-items: center;
    position: fixed;
    padding: 15px;
}
.navigation #name {
    font-size: 30px;
    font-family: Comfortaa;
    margin-left: 20px;
}
.navigation #myuser {
    padding: 12px;
    margin-left: auto;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    font-family: Comfortaa;
}
.navigation #sign {
    text-align: center;
    margin-right: 20px;
    font-family: Comfortaa;
}

body {
    background-color: rgb(228, 220, 220);
}

.recommendations #username{
    font-size: 15px;
}
.recommendations #mainUser {
    display: flex;
    padding-top: 12px;
    align-items: center;
    font-size: 28px;
    font-family: Comfortaa;
}

@media (min-width: 700px) {
    .recommendations {
        width: auto;
        height: auto;
        margin-left: 40%;
        display: block;
        color: rgba(129, 125, 125, 0.884);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        position: fixed;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 700px) {
    .recommendations {
        width: auto;
        height: auto;
        margin-left: 40%;
        display: none;
        color: rgba(129, 125, 125, 0.884);
        font-family: Candara;
        font-size: 10px;
        position: fixed;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}

.rec {
    display: grid;
    grid-template-columns: 120px;
    margin-left: 10px;
}

/* circular profile images*/
.recommendations img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.recommendations #follow {
    padding-left: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.recommendations #suggest_for_you {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    width: auto;
}

#box {
    display: flex;
    align-items: center;
    padding: 5px;
}
#box2 {
    display: flex;
    align-items: center;
    padding: 5px;
}
#box3 {
    display: flex;
    align-items: center;
    padding: 5px;
}
#box4 {
    display: flex;
    align-items: center;
    padding: 5px;
}
#box5 {
    display: flex;
    align-items: center;
    padding: 5px;
}

@media (min-width: 700px) {
    .stories {
        display: flex;
        flex-direction: row;
        width: 33%;
        font-family: Comfortaa;
        background-color: rgb(28, 220, 220);
        margin-top: 90px;
        margin-left: 70px;
        margin-bottom: 20px;
        overflow: scroll;
    }
}

@media (max-width: 700px) {
    .stories {
        display: flex;
        flex-direction: row;
        width: 100%;
        left: 0;
        font-family: Comfortaa;
        background-color: rgb(28, 220, 220);
        margin-top: 90px;
        margin-bottom: 20px;
        overflow: scroll;
    }
}

  .stories img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid white;
  }

  #storypic {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
  }

  #storypic2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#storypic3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#storypic4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#storypic5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

@media (min-width: 700px) {
    .card {
        width: 33%;
        margin-left: 70px;
        height: auto;
        background-color: rgb(28, 220, 220);
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 700px) {
    .card {
        width: 100%;
        height: auto;
        background-color: rgb(28, 220, 220);
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.card img {
    width: 100%;
    height: 300px;
}

.card #username {
    font-size: 20px;
    margin: 1rem;
    display: inline-block;
    font-family: Comfortaa;
}
.card #dots{
    float: right;
    margin: 1rem;
}

.card .post {
    height: auto;
}

#heart{
    font-size: 20px;
    margin-left: 5px;
    padding: 6px;
}
#comment{
    margin-left: 5px;
    font-size: 20px;
    padding: 6px;
}
#share{
    margin-left: 5px;
    font-size: 20px;
    padding: 6px;
}
#bookmark{
    display: inline-block;
    float: right;
    font-size: 20px;
    padding: 6px;
}

.caption {
    margin-left: 5px;
    padding: 3px;
    width: 50%;
}
.comment_entry1 {
    margin-left: 10px;
    padding: 3px;
    width: 50%;
}
.comment_entry2 {
    margin-left: 10px;
    padding: 3px;
    width: 50%;
}
.likes #number_likes{
    margin-left: 5px;
    padding: 3px;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.likes #likes-text {
    margin-left: -4px;
}

.days {
    color:rgba(12, 9, 9, 0.95);
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 14px;
}

.add_comment {
    border: 1px solid black;
    padding: 10px;
}

.add_comment #placeholder-text {
    color:rgb(130, 133, 131);
}

.add_comment #post-comment {
    display: inline-block;
    float: right;
    text-decoration: none;
}
