<!DOCTYPE html>
<html lang="en">
<head>
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/suggestions.html' %}
    <!-- stories -->
    {% include 'includes/stories.html' %}
    <!-- Card layout -->
    {% include 'includes/cards.html' %}

    <!--
    <div class="card">
            <div class="head">
                <span id = "username"> gibsonjack</span>
                <i class="fas fa-ellipsis-h" id = "dots"></i>
            </div>
            <img src="https://i.picsum.photos/id/1083/5472/3648.jpg?hmac=CtOxgXc6Oe3TQvKBXtPsKVT9Z2Yg7SJKWVlgWPeMBUs">
            <div class="post">
                <div class="far fa-heart" id = "heart"></div>
                <div class="far fa-comment" id = "comment"></div>
                <div class="far fa-paper-plane" id = "share"></div>
                <div class="far fa-bookmark" id = "bookmark"></div>
            </div>
            <div class = "likes">
                <span id = "number_likes"><strong>100</strong></span>
                <span id = "likes-text"><strong>likes</strong></span>
            </div>
            <div class = "caption">
                <span id = "caption_name"><strong>gibsonjack </strong></span>
                <span id = "caption_text"> You get it by the bag. I get it by the truck. Ice Hockey Puck. Everyday I ball I could get drafted by the bucks I'm the white Devin Booker... </span>
                <a href="" target = "_blank"> more </a>
            </div>
            <div class = "comment_entry1">
                <span id = "commenter1"><strong>lizzie </strong></span>
                <span id = "comment_text1">drop the album </span>
            </div>
            <div class = "comment_entry2">
                <span id = "commenter2"><strong>vanek97 </strong></span>
                <span id = "comment_text2"> Ur up next </span>
            </div>
            <div class = "days">2 days ago</div>
            <div class = "add_comment">
                <i class = "far fa-smile"></i>
                <span id = "placeholder-text"> Add a comment... </span>
                <a href="" target = "_blank" id="post-comment"> post </a>
            </div>
        </div>

        <div class="card">
                <div class="head">
                    <span id = "username"> gibsonjack</span>
                    <i class="fas fa-ellipsis-h" id = "dots"></i>
                </div>
                <img src="https://i.picsum.photos/id/1083/5472/3648.jpg?hmac=CtOxgXc6Oe3TQvKBXtPsKVT9Z2Yg7SJKWVlgWPeMBUs">
                <div class="post">
                    <div class="far fa-heart" id = "heart"></div>
                    <div class="far fa-comment" id = "comment"></div>
                    <div class="far fa-paper-plane" id = "share"></div>
                    <div class="far fa-bookmark" id = "bookmark"></div>
                </div>
                <div class = "likes">
                    <span id = "number_likes"><strong>100</strong></span>
                    <span id = "likes-text"><strong>likes</strong></span>
                </div>
                <div class = "caption">
                    <span id = "caption_name"><strong>gibsonjack </strong></span>
                    <span id = "caption_text"> You get it by the bag. I get it by the truck. Ice Hockey Puck. Everyday I ball I could get drafted by the bucks I'm the white Devin Booker... </span>
                    <a href="" target = "_blank"> more </a>
                </div>
                <div class = "comment_entry1">
                    <span id = "commenter1"><strong>lizzie </strong></span>
                    <span id = "comment_text1">drop the album </span>
                </div>
                <div class = "comment_entry2">
                    <span id = "commenter2"><strong>vanek97 </strong></span>
                    <span id = "comment_text2"> Ur up next </span>
                </div>
                <div class = "days">2 days ago</div>
                <div class = "add_comment">
                    <i class = "far fa-smile"></i>
                    <span id = "placeholder-text"> Add a comment... </span>
                    <a href="" target = "_blank" id="post-comment"> post </a>
                </div>
            </div>

</div>

<div class="card">
        <div class="head">
            <span id = "username"> gibsonjack</span>
            <i class="fas fa-ellipsis-h" id = "dots"></i>
        </div>
        <img src="https://i.picsum.photos/id/1083/5472/3648.jpg?hmac=CtOxgXc6Oe3TQvKBXtPsKVT9Z2Yg7SJKWVlgWPeMBUs">
        <div class="post">
            <div class="far fa-heart" id = "heart"></div>
            <div class="far fa-comment" id = "comment"></div>
            <div class="far fa-paper-plane" id = "share"></div>
            <div class="far fa-bookmark" id = "bookmark"></div>
        </div>
        <div class = "likes">
            <span id = "number_likes"><strong>100</strong></span>
            <span id = "likes-text"><strong>likes</strong></span>
        </div>
        <div class = "caption">
            <span id = "caption_name"><strong>gibsonjack </strong></span>
            <span id = "caption_text"> You get it by the bag. I get it by the truck. Ice Hockey Puck. Everyday I ball I could get drafted by the bucks I'm the white Devin Booker... </span>
            <a href="" target = "_blank"> more </a>
        </div>
        <div class = "comment_entry1">
            <span id = "commenter1"><strong>lizzie </strong></span>
            <span id = "comment_text1">drop the album </span>
        </div>
        <div class = "comment_entry2">
            <span id = "commenter2"><strong>vanek97 </strong></span>
            <span id = "comment_text2"> Ur up next </span>
        </div>
        <div class = "days">2 days ago</div>
        <div class = "add_comment">
            <i class = "far fa-smile"></i>
            <span id = "placeholder-text"> Add a comment... </span>
            <a href="" target = "_blank" id="post-comment"> post </a>
        </div>
    </div>
    -->
</body>


<!-- To allow users to add alt text to the images they post, the app includes an "add alt text" button beside the "post" button. Clicking the
     "add alt text" button presents the user with a text box in which they can enter alt text for their photo. Once they press "save," the
     HTML sets the alt attribute of their image to the alt text they entered. -->

</html>